@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&family=Sarala:wght@400;700&display=swap');

:root {
  --primary: #2e483a;
  --primary-rgb: 46, 72, 58;
  --light: #f6f3ed;
  --bs-body-bg: #f6f3ed;
}

body {
  font-family: "Sarala", sans-serif;
  background-color: var(--bs-body-bg);
  color: #2e2e2e;
}

h1, h2, h3, h4, h5 {
  font-family: "Merriweather", serif;
}

.bg-primary {
  background-color: var(--primary) !important;
}

.text-light {
  color: var(--light);
}

.btn-cta {
  background-color: var(--primary);
  color: var(--light);
  border: none;
  padding: 0.75rem 1.5rem;
  font-weight: 500;
  border-radius: 0.375rem;
  transition: all 0.3s ease;
}

.btn-cta:hover {
  background-color: #22362b;
  color: var(--light);
}

.navbar-nav .nav-link {
  color: #c0c0c0;
}

.navbar-nav .nav-link.text-white {
  color: #fff;
}

#hero {
  display: flex;
  height: 650px;
  background-color: #E4E6DB;
  background-image: url('../images/hero-bg-img.png');
  background-size: cover;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-bottom: 150px;
}

#hero h1 {
  font-weight: 400;
  font-size: 2.25rem;
}

#hero p {
  font-weight: 400;
}

#how-it-works {
  background-color: #f6f3ed;
  text-align: center;
}

#how-it-works h2 {
  margin-bottom: 0.4rem;
}

#how-it-works .lead {
  margin-top: 0.4rem;
  margin-bottom: 1.25rem;
  padding-bottom: 1.25rem;
}

.black-divider {
  border: none;
  border-top: 1px solid #000;
  width: 100%;
  margin: 0;
}

.gray-divider {
  border: none;
  border-top: 1px solid #ccc;
  width: 100%;
  margin: 1rem 0;
}

#about {
  background-color: #f6f3ed;
}

#about img {
  width: 100%;
  height: auto;
  margin-bottom: 1rem;
}

#about ul {
  padding-left: 0; 
}

#about li h5 {
  margin-bottom: 0.5rem;
}


#about li p {
  margin-bottom: 0.75rem;
}

#faq {
  background-color: #f6f3ed;
}

.accordion-button {
  font-weight: 400;
  background-color: #f6f3ed;
  color: #000;
}

.accordion-button:not(.collapsed) {
  color: #000;
  background-color: #f6f3ed;
  box-shadow: none;
}

.accordion-body {
  text-align: left;
  background-color: #f6f3ed;
}

#cta {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/cta-bg.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 500px;
  display: flex;
  align-items: center;
  text-align: center;
  color: var(--light);
}

footer {
  background-color: var(--primary);
  color: var(--light);
}

@media (max-width: 991.98px) {
  #about .col-lg-6:first-child {
    order: 2;
  }
  #about .col-lg-6:last-child {
    order: 1;
  }
  #about img {
    margin-top: 1rem;
  }
}